{#
 # CPT Archive Template (Twig) - Default template for post listings
 #
 # Available variables:
 # - cpt_type: Type information
 # - cpt_posts: Array of posts
 # - cpt_pagination: Pagination data
 #}

{% extends '@PrestaShop/Shop/layout.html.twig' %}

{% block content %}
    <div class="cpt-archive cpt-archive-{{ cpt_type.slug }}">
        
        <h1 class="page-title">{{ cpt_type.name }}</h1>

        {% if cpt_type.description %}
            <div class="cpt-description">
                {{ cpt_type.description }}
            </div>
        {% endif %}

        {% if cpt_posts|length > 0 %}
            <div class="cpt-posts-grid">
                {% for post in cpt_posts %}
                    <article class="cpt-post-item" id="cpt-post-{{ post.id }}">
                        <h2 class="cpt-post-title">
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </h2>
                        
                        <div class="cpt-post-meta">
                            <time datetime="{{ post.date_upd }}">
                                {{ post.date_upd|date('d/m/Y') }}
                            </time>
                        </div>

                        <a href="{{ post.url }}" class="btn btn-primary">
                            {{ 'Read more'|trans({}, 'Modules.Weprestaacf.Front') }}
                        </a>
                    </article>
                {% endfor %}
            </div>

            {# Pagination #}
            {% if cpt_pagination.total_pages > 1 %}
                <nav class="cpt-pagination">
                    <ul class="pagination">
                        {% if cpt_pagination.current_page > 1 %}
                            <li>
                                <a href="{{ url('wepresta_acf_cpt_archive', {'type': cpt_type.slug, 'p': cpt_pagination.current_page - 1}) }}">
                                    &laquo; {{ 'Previous'|trans({}, 'Shop.Theme') }}
                                </a>
                            </li>
                        {% endif %}

                        {% for i in 1..cpt_pagination.total_pages %}
                            <li {% if i == cpt_pagination.current_page %}class="active"{% endif %}>
                                <a href="{{ url('wepresta_acf_cpt_archive', {'type': cpt_type.slug, 'p': i}) }}">
                                    {{ i }}
                                </a>
                            </li>
                        {% endfor %}

                        {% if cpt_pagination.current_page < cpt_pagination.total_pages %}
                            <li>
                                <a href="{{ url('wepresta_acf_cpt_archive', {'type': cpt_type.slug, 'p': cpt_pagination.current_page + 1}) }}">
                                    {{ 'Next'|trans({}, 'Shop.Theme') }} &raquo;
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        {% else %}
            <p class="alert alert-info">
                {{ 'No posts found'|trans({}, 'Modules.Weprestaacf.Front') }}
            </p>
        {% endif %}
    </div>
{% endblock %}
