{#**
 * WePresta ACF - Advanced Custom Fields for PrestaShop
 *
 * @author    WePresta
 * @copyright 2024-2025 WePresta
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License 3.0 (AFL-3.0)
 *#}

{#
 # ACF Number Field Template (Twig)
 #}

{% if value is not empty %}
    <span class="acf-number{% if customClass %} {{ customClass }}{% endif %}"{% if customId %} id="{{ customId }}"{% endif %}>
        {% if config.prefix is defined %}{{ config.prefix }}{% endif %}
        {{ value }}
        {% if config.suffix is defined %}{{ config.suffix }}{% endif %}
    </span>
{% endif %}
