{#**
 * WePresta ACF - Advanced Custom Fields for PrestaShop
 *
 * @author    WePresta
 * @copyright 2024-2025 WePresta
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License 3.0 (AFL-3.0)
 *#}

{#
 # ACF URL Field Template (Twig)
 #}

{% if value is not empty %}
    {% set linkText = config.linkText|default(value) %}
    {% set target = config.openInNewTab|default(false) ? ' target="_blank" rel="noopener noreferrer"' : '' %}
    
    <a href="{{ value }}" 
       class="acf-link{% if customClass %} {{ customClass }}{% endif %}"
       {% if customId %}id="{{ customId }}"{% endif %}
       {{ target|raw }}>
        {{ linkText }}
    </a>
{% endif %}
