{#
 # CPT Builder Template - Vue.js SPA Container
 #}

{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {# CPT Builder CSS - uses Vite manifest for cache-busting #}
    {{ vite_stylesheet('cpt') }}
{% endblock %}

{% block content %}
    <div class="bootstrap" style="margin-top: 20px;">
        <div id="cpt-app"
             data-type-slug="{{ type.slug }}"
             data-type-name="{{ type.name }}"
             data-type-id="{{ type.id }}"
             data-api-url="{{ apiUrl }}"
             data-languages='{{ languages|json_encode }}'
             data-default-lang-id="{{ defaultLangId }}"
             data-shop-id="{{ shopId }}"
             data-token="{{ csrfToken }}">
             
            <div class="text-center py-5">
                <div class="spinner-border text-primary" role="status"></div>
                <div class="mt-2">{{ 'Loading...'|trans({}, 'Modules.Weprestaacf.Admin') }}</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# CPT Builder Script - uses Vite manifest for cache-busting #}
    {{ vite_script('cpt') }}
{% endblock %}
